.charts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piechart {
    width: 900px;
    height: 500px;
    color: #4d77f5;
}

tr {
    border: solid 2px #b0c2f8;
    color: #4d77f5;
}

th {
    border: solid 2px #b0c2f8;
    color: #4d77f5;
}

/* td {

    border-bottom: solid 2px #b0c2f8;
    color: #4d77f5;
} */

.percentage-bar {
    background-color: #b0c2f8;
    height: 10px;
    border-radius: 50px;
    width: 50%;
}

@media (max-width: 767px) {
    .percentage-bar {
        display: none;
    }
}

.label-data {
    white-space: nowrap;
    min-width: 150px;
}

.label-data-fix {
    white-space: nowrap;
    color: #00a01c;
}

.label-data-conflict {
    white-space: nowrap;
    color: #b8af34;
}

.fix-container {
    width: 100%;
}

.percentage-bar-data {
    width: 100%;
}

.percentage-text-data {
    white-space: nowrap;
}

.results-table {
    max-width: 1280px;
    width: 100%;
    margin: 10px;
}

.results-data-row {
    border: solid 2px #b0c2f8;
}

.results-title-data {
    border: solid 2px #b0c2f8;
    cursor: pointer;
    text-decoration-line: underline;
    text-align: center;
    color: #4d77f5;
    max-width: 250px;
    min-width: 250px;
    width: 250px;
    overflow-x: hidden;
}

.pagination-control-btn {
    background-color: #b0c2f8;
    color: white;
    border: 1px solid #4d77f5;
    border-radius: 20px;
    margin: 2px;
    height: 40px;
    width: 40px;
}

.pagination-control-btn:hover {
    background-color: #4d77f5;
}

.pagination-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    color: #4d77f5;
    border: 2px solid #b0c2f8;
    border-radius: 20px;
    margin: 2px;
}

.pagination-btn:hover {
    background-color: #b0c2f8;
}

.filter-button-container {
    display: flex;
    /* width: 960px; */
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 10px;
}

.filter-button {
    margin: 10px;
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.conflict {
    background-color: white;
    border: 2px solid #f3f8b0;
    color: #aa8f14;
}

.conflict:hover {
    background-color: #f3f8b0;
}

.fix {
    background-color: white;
    border: 2px solid #b0f8b4;
    color: #1eaf36;
}

.fix:hover {
    background-color: #b0f8b4;
}

.fix.selected {
    background-color: #b0f8b4;
    border: 2px solid #b0f8b4;
}

.fix:hover.selected {
    transform: translateY(-2px);
}

.conflict.selected {
    background-color: #f3f8b0;
    border: 2px solid #f3f8b0;
    color: #aa8f14;
}

.conflict:hover.selected {
    transform: translateY(-2px);
    background-color: #ffe880;
}

.selected {
    transform: translateY(-2px);
    background-color: #ecffe6;
    border-color: #67ff60;
    color: #00a01c;
}

.selected:hover {
    background-color: #82ff7b;
}