.title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #4d77f5;
    text-align: center;
}

.review-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-right: 50px;
    padding-left: 50px;
    overflow-x: hidden;
}

@media screen and (max-width: 500px) {
    .content-container {
        max-width: 350px;
    }
}

.fake-label-margin {
    height: 30%;
}

.control-btn {
    z-index: 100;
    /* always on top */
    position: fixed;
    top: 50%;
    /* Center-height */
    transform: translateY(-50%);
    /* Center the button vertically */
    background-color: #b0c2f8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    height: 70px;
    font-size: large;
}

.control-btn:hover {
    background-color: #4d77f5;
}

.next {
    right: -15px;
}

.prev {
    left: -15px;
}

.control-btn .arrow {
    margin-right: 5px;

}

.control-btn .text {
    display: none;
}

.control-btn:hover .text {
    display: inline;
}

.btn-disabled {
    background-color: grey;
    display: none;
}

.btn-disabled:hover {
    background-color: grey;
    cursor: default;
}

.btn-disabled:hover .text {
    display: none;
}

/* download form */
.review-form {
    max-width: 300px;
    /* Adjust as needed */
    margin: 0 auto;
}

.review-form label {
    display: block;
    margin-bottom: 10px;
}

.review-input {
    border: none;
    border-bottom: 1px solid #ccc;
    /* Bottom line */
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    /* Disable selection outline */
    color: #4d77f5;
}

.review-btn {
    display: block;
    margin: 0 auto;
    width: 190px;
    border-radius: 10px;
    background-color: white;
    color: #4d77f5;
    height: 45px;
    font-size: large;
    border: 2px solid #b0c2f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.review-btn:hover {
    background-color: #b0c2f8;
}

.name-download-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;

}

.download-btn {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
    border-radius: 10px;
    background-color: white;
    color: #4d77f5;
    border: 2px solid #b0c2f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.download-btn:hover {
    background-color: #b0c2f8;
    transform: scale(1.5);
}

.unanswered-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.unanswered-btn {
    position: fixed;
    top: 0;
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;

    z-index: 50;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20%;

    background-color: #b0c2f8;
}

.unanswered-btn:hover {
    background-color: #4d77f5;
}

.unanswered-btn.prev {
    left: 0;
}

.unanswered-btn.next {
    right: 0;
}